# Virtual environment
.venv/
venv/
env/

# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Logs
logs/
*.log

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store
desktop.ini

# Distribution
dist/
build/
*.egg-info/
